<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dotd_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{187,1},{48,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotd_a10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{93,89},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{54,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{95,195},{54,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{1,139},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{54,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{1,195},{54,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{48,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{1,89},{48,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{185,93},{54,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dotd_a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{95,1},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{42,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{1,45},{42,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{42,92}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{93,45},{42,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dotd_a9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{54,90}</string>
                <key>spriteSourceSize</key>
                <string>{78,108}</string>
                <key>textureRect</key>
                <string>{{93,139},{54,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dotdTypeA.png</string>
            <key>size</key>
            <string>{240,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9956b5fc8e2acb448dc79826287ab54f:8e92c20837e5552773649749ebb9add9:b1eaa4f54ab6404025001c4ec83e8062$</string>
            <key>textureFileName</key>
            <string>dotdTypeA.png</string>
        </dict>
    </dict>
</plist>
