<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireType-a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{112,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{224,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{336,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{448,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{560,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{672,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{784,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-a9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{896,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1008,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1120,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1232,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1344,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1456,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1568,0},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{0,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{112,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{224,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{336,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{448,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{560,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{672,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{784,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{896,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1008,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1120,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-c9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,69}</string>
                <key>spriteSourceSize</key>
                <string>{28,69}</string>
                <key>textureRect</key>
                <string>{{1232,69},{28,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{1344,69},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{1456,69},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{1568,69},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{0,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{112,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{224,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{336,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{448,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-d9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,18}</string>
                <key>spriteSourceSize</key>
                <string>{112,18}</string>
                <key>textureRect</key>
                <string>{{560,138},{112,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{672,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{784,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{896,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1008,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1120,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1232,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1344,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1456,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireType-e9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,25}</string>
                <key>spriteSourceSize</key>
                <string>{112,25}</string>
                <key>textureRect</key>
                <string>{{1568,138},{112,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{1680,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c7c8b65a4c9d9a4b52d3212447b3e9e:7a055da49ccb38149654d40a33f4cd82:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
